* {
 font-size: 100%;
 font-family: Ubuntu;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  margin-left: 20%;
  margin-right: 20%;
  font-size: larger;
  text-align: center;
}

h1 { font-family: Ubuntu; font-size: 40px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; color: white}
h2 { font-family: Ubuntu; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; color: white}
p { font-family: Ubuntu; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; color: white}
blockquote { font-family: Ubuntu; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; color: white}
pre { font-family: Ubuntu; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; color: white}

body {
  background-color: black;
}

.headerdiv {
  padding: 70px 0;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(0,0,0,1) 17%, rgba(0,65,16,1) 47%, rgba(9,126,28,1) 66%, rgba(3,204,7,1) 86%, rgba(13,255,0,1) 100%);
}

div.choose {
  background-color: white;
  height: 70px;
  padding:5px 5px;
  width: 70%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

div.form {
  width: 75%;
  height: 100%;
  display: inline-block;
  margin-left: 5%;
  /* background-color: red; */
}

div.choosefile {
  width: 70%;
  height: 70px;
  display: inline-block;
  background-color: blue;
  text-align: left;
  border-radius: 10px;
}

input.urlform {
  height: 100%;
  box-sizing: border-box;
  width: 100%
}

button.submitter {
  display: block;
  height: 70px;
  width: 70px;
  float: right;
  /* width: 20%; */
  background:#00db0f;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  font-family: Ubuntu; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; color: white
}

button.submitter:hover {
  height: 70px;
  width: 70px;
  background:#00990a;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

/* this is just to make the original input invisible */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow:hidden;
  border-radius: 5px;
  font-size: 3vw;
  /* margin-left: 1%; */
  font-weight: 700;
  color: white;
  background-color: black;
  cursor: pointer;
  text-align: center;
}



.inputfile:focus + label, .inputfile + label:hover {
  background-color: green;
  height: 100%;
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

/* ---------------------------------- */

div.submit {
  display: flex;
  float:right;
}
#fileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 10%;
  height: 100%;
  font-size: 4vw;

  border-radius: 10px 0px 0px 10px;
  -webkit-box-sizing: border-box;
  cursor: pointer;

  border: 2px solid black;
  background-color: white;
  color: black;
}
#urlButton {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 10%;
  height: 100%;
  font-size: 4vw;

  border-radius: 0px 10px 10px 0px;
  -webkit-box-sizing: border-box;
  cursor: pointer;

  border: 0 none;
  background-color: black;
  color: white;
}
#fileButton:hover,#urlButton:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}
.initial-hide {
  display: none;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display: none;
  position: static;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loaderContainer {width: 100%}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 800px) {
  .inputfile + label {
    font-size: 24px;
  }
  #fileButton {
    font-size: 36px;
  }
  #urlButton {
    font-size: 36px;
  }
}

#imagePlaceholder {
  display: block;
  text-align: center;
  vertical-align: top;
}
