<!doctype html>
<html lang="en">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> -->

  <title>Circle Detecting and Cropping Tool</title>
  <!-- <script type="text/javascript" src="/eel.js"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
  <div class="headerdiv">
    <h1>Circle Detecting and Cropping Tool</h1>
  </div>
  <hr>
  {% block content %}{% endblock %}
</body>
</html>
